@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=VT323);
.sub {
    vertical-align: sub;
}
.pulse
{
	-webkit-animation: pulse 0.5s linear infinite;
	animation: pulse 0.5s linear infinite;
	animation-duration: 1050;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	position: absolute;
}
@-webkit-keyframes pulse {
 0% {
 -webkit-transform: scale(1, 1);
}
 50% {
 -webkit-transform: scale(1.1, 1.1);
}
 100% {
 -webkit-transform: scale(1, 1);
};
}

@keyframes pulse {
 0% {
 transform: scale(1, 1);
}
 50% {
 transform: scale(1.1, 1.1);
}
 100% {
transform: scale(1, 1);
};
}

#instructions, .sub{
    font-family: 'Share Tech Mono';
    font-size: 13px;
    padding-top: 20px;
    
}

a{
    font-family: 'Share Tech Mono';
    font-size: 23px;
    
}
#main{
     text-align: center;		
     padding-bottom:10px;		
 }
#main-title{
    font-family: 'Share Tech Mono';
    font-size: 48px;
    padding-bottom: 15px;
}
body{
    /*background-color: #FCFFFA;      TODO: Set colour here*/
}
#nickLabel{
    font-family: 'Poiret One';
    font-size: 25px;
}
#nick{
    /*background-color: white;      TODO: Set colour here*/
    border: 2px solid #BDBDBD;/*    TODO: Set new colour here*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 27px;
    padding-left: 20px;
    text-align: center;
    font-family: 'VT323';
    font-size:18px;
}
#server{
    /*background-color: white;      TODO: Set colour here*/
    border: 2px solid #BDBDBD;/*    TODO: Set new colour here*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 27px;
    padding-left: 20px;
    text-align: center;
    font-family: 'VT323';
    font-size:18px;
}
#submit{
    font-family: 'Share Tech Mono';
    font-size:25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background-color: #FCFCFC; /* Set different color here -- This is just here so that we don't get
                an ugly dark grey background.*/
}
